h1{
  color: red;
}
.formacoes {
  display: flex;
  justify-content: space-between;
  width: 600px;
}
.header {
  padding: 60px;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}
.HeaderDescription {
  font-size: 20px;
  text-align: justify;
}
.ProfileImage {
  text-align: left;
  width: 300px;
  height: 250px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
.FooterLogo {
  height: 50px;
  width: 50px;
}
